[project]
name = "{{ package_name }}"
version = "{{ version }}"
description = "{{ description }}"
readme = "README.md"
requires-python = ">=3.12"
authors = [{ name = "{{ author_name }}", email = "{{ author_email }}" }]
dependencies = []

[project.entry-points."crystalith.plugins"]
{{ plugin_id }} = "{{ module_name }}.plugin:plugin"

[build-system]
requires = ["uv_build>=0.9.24,<0.10.0"]
build-backend = "uv_build"

[tool.uv]
package = true
